<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<style>
		.clearfix:before,
		.clearfix:after{
		  display: table;
		  content: " ";
		}
		.clearfix:after {
		  clear: both;
		}
		.grid{
			display: block;
		}
		.grid .item{
			float: left;
		}
		

		.qpager{
			display: block;
		}
		.qpager .qitem{
			float: left;
		}
	</style>
	<script>
	 window.addEventListener("load",function(){
	 		

	 		Vue.component('pager', {
	 		  props:{
	 		  	"totalPage",
				"currentPage",
				"pageSize",
	 		  },
			  template: '<div class="qpager" >  <div class="qitem" v-for="item in pagedata" > {item}</div>    </div>',
			  data: {
				  pagedata:[]
			  },
			  methods: {
			     next:function(){
			     	pagedata=
			     }
			  }
			});

	 		
			var watchExampleVM = new Vue({
				  el: '#watch-example',
				  data: {
				    width: '',
				    height:'',
				    pagesize:3,
				    style:{
				    	width:"0"
				    }
				  },
				  created:function() {
				  	$(window).on("resize",_.debounce(this.resize,500));
				  	$(window).trigger("resize");
				  },
				  methods: {
				     resize:function(){
				        var vm = this;
				        vm.width = $(".grid").width();
				        vm.height=$(".grid").height();
				        vm.style.width=Math.floor($(".grid").width()/vm.pagesize)+"px";
				     }
				  }
			});


 	});
	</script>
</head>
<body>

<div id="watch-example">
  <p>width:{{ width }} </p>
  <p>height:{{ height }} </p>
  <p>pagesize:{{ pagesize }} </p>
  <p>style.width:{{ style.width }} </p>
  <div class="grid clearfix">
	  <span class="item" v-for="item in pagesize" v-bind:style="style">
	  	item
	  </span>
  </div>
</div>

</body>
</html>