<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>

	<script type="text/javascript" src="js/vue.js"></script>
	<!--
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/velocity.min.js"></script>
	-->
	<script type="text/javascript" src="js/velocity1.2.3.min.js"></script>
	<style>
		.list-item {
		  display: inline-block;
		  margin-right: 10px;
		}
		.list-enter-active, .list-leave-active {
		  transition: all 1s;
		  opacity: 1;
		  transform: translateY(0px);
		}
		.list-enter, .list-leave-active {
		  opacity: 0;
		  transform: translateY(30px);
		}
	</style>
	<script>
	 document.addEventListener("load",function(){
			new Vue({
			  el: '#staggered-list-demo',
			  data: {
			    query: '',
			    list: [
			      { msg: 'Bruce Lee' },
			      { msg: 'Jackie Chan' },
			      { msg: 'Chuck Norris' },
			      { msg: 'Jet Li' },
			      { msg: 'Kung Fury' }
			    ]
			  },
			  computed: {
			    computedList: function () {
			      var vm = this
			      return this.list.filter(function (item) {
			        return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
			      })
			    }
			  },
			  methods: {
			    beforeEnter: function (el) {
			      el.style.opacity = 0
			      el.style.height = 0
			    },
			    enter: function (el, done) {
			      var delay = el.dataset.index * 150
			      setTimeout(function () {
			        Velocity(
			          el,
			          { opacity: 1, height: '1.6em' },
			          { complete: done }
			        )
			      }, delay)
			    },
			    leave: function (el, done) {
			      var delay = el.dataset.index * 150
			      setTimeout(function () {
			        Velocity(
			          el,
			          { opacity: 0, height: 0 },
			          { complete: done }
			        )
			      }, delay)
			    }
			  }
			});
 	});
	</script>
</head>
<body>

	<div id="staggered-list-demo">
	  <input v-model="query">
	  <transition-group
	    name="staggered-fade"
	    tag="ul"
	    v-bind:css="false"
	    v-on:before-enter="beforeEnter"
	    v-on:enter="enter"
	    v-on:leave="leave"
	  >
	    <li
	      v-for="(item, index) in computedList"
	      v-bind:key="item.msg"
	      v-bind:data-index="index"
	    >{{ item.msg }}</li>
	  </transition-group>
	</div>

</body>
</html>